.w-attentionBox{
	width: 100%;
	padding-bottom: 20%;
}
.w-attentionList{	
	width: 100%;
	background:#FFFFFF;
	position: relative;
	border-bottom: 1px #dddddd solid;
	overflow: hidden;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: 0.7rem;
}
.game-img{
	width: 20%;
	/*position: absolute;*/
	top: 11%;
	left:5%;
}
.game-name{
	position: absolute;
	top: 29%;
	left: 28%;
	font-size: 1.6rem;
}
.game-rank{
	position: absolute;
	top: 60%;
	left: 28%;
	font-size: 1.4rem;
	font-style: normal;
}
.game-star{
	width: 15%;
	position: absolute;
	top: 63%;
	left:48%;	
}
button{
	position: absolute;	
	width: 24%;
	height: 34%;
	right: 5%;
	top:33%;
	border-radius:6px;
	font-size: 1.6rem;
	outline: none;
	border:1px #f56243 solid;
	
	
	background: #f56243;	
	color: white;
}
.favorite{
	color: #ffc000;
	position: absolute;
	bottom:2rem;
	left: 50%;
	margin-left: -3%;
}
.favorite i{
	font-size: 1rem;
	
}
/*取消关注后button效果*/
/*button{
	position: absolute;	
	width: 24%;
	height: 34%;
	right: 5%;
	top:33%;
	border-radius:6px;
	font-size: 2rem;
	outline: none;
	border:1px #f56243 solid;
	
	background: #FFFFFF;
	color: #f56243;	
}*/