#footer{
	width: 100%;
	background-color: #FFF;
	overflow: hidden;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	position: fixed;
	bottom: 0;
	z-index: 10;
	border-top: 1px solid #919191;
}
#footer ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
#footer ul li{
	text-align: center;
	width: 25%;
}
#footer ul li i{

	font-size: 3.3rem;
}
.foot-txt{
	font-size: 1.8rem;
	margin-top: 0.2rem;
}
#footer ul a:hover{
	color: red;
}
.page-active{
	color: red ;
}
