.button1{
	width: 100%;
	height: 50px;	
	clear: both;
	margin-top: 30px;
	
	background:  #f25454;
	color:#FFFFFF;
	border: 0;
	outline: none;
	border-radius: 8px;
	font-size: 2rem;
}

.forgetBox{
	width: 84%;
	margin-left: 8%;
	position: relative;
}
.forgetPass{
	position: absolute;
	right: 2%;
	color: #f25454;
	font-size: 1.8rem;
	padding-top: 25px !important;
	
}
