html,body,div,span,img{
	margin: 0;
	padding: 0;
	}
			
			html,
			body {
				width: 100%;
				height: 100%;
				font-size: 10px;
			}
			
			#w-show {
				width: 100%;
				height: 100%;
				/*overflow: hidden;*/
				position: relative;
			}
			
			.w-wrap {
				position: absolute;
				width: 100%;
				height: 100%;
				background-size: 100% 100%;              
			}
			
			.w-wrap1 {
				background-image: url(../img/guide/bg1.png);
				opacity:1;	
			}
			
			.w-wrap2 {
				background-image: url(../img/guide/bg2.png);
				opacity: 0;					
			}
			
			.w-wrap3 {
				background-image: url(../img/guide/bg3.png);
				opacity:0;				
			}
			/*页面1*/
			
			.w-txt1 {
				width: 60%;
				position: absolute;
				top: 8%;
				left: 20%;
			}
			
			.w-iphone1 {
				width: 90%;
				position: absolute;
				top: 28%;
				left: 5%;
			}
			
			.w-gift1 {
				color: whitesmoke;
				position: absolute;
				top: 21%;
				left: 20%;
				font-size: 1.4rem;
			}
			/*页面2*/
			
			.w-txt2 {
				width: 64%;
				position: absolute;
				top: 8%;
				left: 18%;
			}
			
			.w-iphone2 {
				width: 74%;
				position: absolute;
				top: 25%;
				left: 13%;
			}
			
			.w-gift2 {
				color: whitesmoke;
				position: absolute;
				top: 93%;
				left: 20%;
				font-size: 1.4rem;
			}
			
			.w-new {
				width: 26%;
				position: absolute;
				top: 62%;
				left: 72%;
			}
			
			.w-dujia {
				width: 26%;
				position: absolute;
				top: 40%;
				left: 72%;
			}
			
			.w-hot {
				width: 26%;
				position: absolute;
				top: 55%;
				left: 2%;
			}
			/*页面3*/
			
			.w-txt3 {
				width: 60%;
				position: absolute;
				top: 8%;
				left: 20%;
			}
			
			.w-iphone3 {
				width: 90%;
				position: absolute;
				top: 28%;
				left: 5%;
			}
			
			.w-gift3 {
				position: absolute;
				top: 21%;
				left: 20%;
				
			}