
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483620162267'); /* IE9*/
  src: url('iconfont.eot?t=1483620162267#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483620162267') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483620162267') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483620162267#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-category:before { content: "\e699"; }

.icon-good:before { content: "\e717"; }

.icon-favoritesfilling:before { content: "\e730"; }

.icon-wxbzhuye:before { content: "\e61f"; }

.icon-iconfontyouhuiquan:before { content: "\e627"; }

.icon-arrowleft:before { content: "\e693"; }

.icon-favorite:before { content: "\e696"; }

.icon-account:before { content: "\e6a3"; }

.icon-play:before { content: "\e6b0"; }

.icon-add:before { content: "\e6b9"; }

.icon-minus:before { content: "\e6ba"; }

.icon-browse:before { content: "\e6c0"; }

.icon-favorites:before { content: "\e7ce"; }

.icon-xinjian:before { content: "\e64f"; }

.icon-tuijian:before { content: "\e615"; }

.icon-chakan:before { content: "\e618"; }

.icon--shoucang:before { content: "\e697"; }

.icon--yishoucang:before { content: "\e69b"; }

