body{
	background: url(../img/login/myBg.png) no-repeat fixed;
	background-size: cover;
}

/*头部*/
#head .title>a{
	position: absolute;
	right: 3%;
	font-size: 1.8rem;
	color: #d92a2a;
}
#headWrap{
	width: 100%;
	margin-top: 30%;
	text-align: center;
}
#headWrap img{
	width: 30%;	
}
#loginBox{
	width:80%;
	margin-left: 9%;
}
.inputBox{
	width: 100%;
	margin-top: 40px;
	height: 50px;
	border: 1px #FFFFFF solid;
	background: #e99593;
	outline: none;
	border-radius: 0.5rem;
	font-size: 1.8rem;
	color: #FFF;	
	text-indent: 10px;
}
input::-webkit-input-placeholder{
	color: #FFFFFF;
	text-indent: 10px;
}

.loginButton{
	margin-top: 3.5rem;
	width: 80%;
	background: #FFFFFF;
	height: 4.5rem;
	outline: none;
	border-radius: 0.55rem;
	border: 0;
	color: red;
	font-size: 2rem;
	/*margin-bottom: 20px;*/
	margin-left: 10%;
}
.forgetBox{
	width: 80%;
	margin-left: 10%;
	position: relative;
	height: 5rem;
}
.forgetPass{
	position: absolute;
	right: 2%;
	color: #FFFFFF;
	font-size: 1.8rem;
	text-decoration: underline;
	padding-top: 20px !important;
	margin-bottom: 3rem;
}
