#head {
			background: #f9f9f9;
		}
		
		.bag-top {
			margin-top: 0.6rem;
		}
		
		.bag-top img {
			margin-left: 2%;
			width: 96%;
		}
		
		#tite strong {
			width: 100%;
			margin-left: 3%;
			font-size: 1.8rem;
		}
		
		#tite span {
			font-size: 1.5rem;
			color: #555555;
			margin-left: 4%;
		}
		
		.cont {
			margin-top: 1.8rem;
			width: 96%;
			margin-left: 2%;
			height: 25rem;
		}
		
		.cont p {
			font-size: 1.8rem;
			color: #555555;
			line-height: 2rem;
			/*height: 35rem;*/
		}
		
		.bag-tops img {
			width: 96%;
			margin-left: 2%;
			margin-top: 4%;
		}
		
		.bags-top img {
			float: left;
			margin-top: 2%;
			margin-right: 2%;
			margin-left: 5%;
			width: 35%;
		}
		
		.saoma {
			height: 8rem;
			font-size: 1.5rem;
			padding-top: 6%;
			color: #555555;
		}
		
		.saoma span {
			line-height: 2.0rem;
		}
		
		button {
			border: 1px red solid;
			background: red;
			margin-top: 6%;
			width: 86%;
			margin-left: 7%;
			height: 4rem;
			border-radius: 5px;
			margin-bottom: 2rem;
			font-size: 1.8rem;
			color: white;
		}
		button:focus {
			outline: none;
		}
		
		button i {
			color: white;
		}
		
		.icon--yishoucang {
			font-size: 2.5rem;
			vertical-align: sub;
		}
		.shijain{
			width: 96%;
			margin-left: 2%;
			margin-top: 2rem; 
			display: flex;
			justify-content: space-between;
		}