html,body,div,span,img,button{
	padding: 0;
	margin: 0;
}
html{
	width: 100%;
	/*height: 100%;*/
	font-size: 10px;
	
}
body{
	width: 100%;
	/*height: 100%;*/
	background: url(../img/login/findPasswordBg.png) no-repeat fixed;
	background-size: cover;
}

.inputWrap{
	width: 84%;
	margin-left: 8%;
	margin-top: 25%;
	overflow: hidden;
}
.input1{
	width: 99%;
	height: 50px;
	background: #FFFFFF;
	margin-bottom: 30px;
	border: 0;
	outline: none;
	border-radius: 8px;
	font-size: 1.6rem;
}

input::-webkit-input-placeholder{
	text-indent: 10px;
}

.button1{
	width: 99%;
	height: 50px;	
	clear: both;	
	background:  #f25454;
	color:#FFFFFF;
	border: 0;
	outline: none;
	border-radius: 8px;
	font-size: 2rem;
}

.forgetBox{
	width: 84%;
	margin-left: 8%;
	position: relative;
}
.forgetPass{
	position: absolute;
	right: 2%;
	color: #f25454;
	font-size: 1.8rem;
	padding-top: 25px !important;
	
}