body{
	width: 100%;
	/*height: 100%;*/
	background: url(../img/login/findPasswordBg.png) no-repeat fixed;
	background-size: cover;
}
#head .title>a{
	position: absolute;
	right: 3%;
	font-size: 1.8rem;
	color: #d92a2a;
	text-decoration: none;
}
.inputWrap{
	width: 84%;
	margin-left: 8%;
	margin-top: 25%;
	overflow: hidden;
}
.input1{
	width: 100%;
	height: 4rem;
	background: #FFFFFF;
	margin-bottom: 20px;
	border: 0;
	outline: none;
	border-radius: 8px;
	font-size: 1.6rem;
}
.input2{	
	width: 45%;
	height: 4rem;
	background: #FFFFFF;
	float: left;
	border: 0;
	outline: none;
	border-radius: 8px;
	font-size: 1.6rem;
	margin-bottom: 20px;
}
.input1,.input2{
	text-indent: 10px;
	color: #ababab;
}
input::-webkit-input-placeholder{
	text-indent: 10px;
}
.input3{	
	width: 35%;
	line-height: 4rem;
	float: right;
	background:#888;
	color:#FFFFFF;
	border: 0;
	outline: none;
	border-radius: 0.8rem;
	font-size: 1.6rem;
	padding: 0.1rem;
}
.button1{
	width: 100%;
	height: 50px;	
	clear: both;	
	/*background:  #f25454;*/
	background:#888;
	color:#FFFFFF;
	border: 0;
	outline: none;
	border-radius: 8px;
	font-size: 2rem;
}


